#game-console-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2.777777777777778vh; // 30px
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'JetBrains Mono';
}

#console-input {
    background: #333;
    height: 4.62962962962963vh; // 50px
    line-height: 4.537037037037037vh; // 49px;
    font-family: 'JetBrains Mono';

    label {
        display: inline-block;
        vertical-align: top;
        width: 20.83333333333333vh; // 225px
        padding-left: 1.851851851851852vh; // 20px
        font-size: 1.851851851851852vh; // 20px
        color: #999;
    }

    input {
        line-height: 4.537037037037037vh; // 49px;
        border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        vertical-align: top;
        width: calc(100% - 22.68518518518519vh); // 100% - 245px
        background: #333;
        font-family: 'JetBrains Mono';
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        font-size: 1.851851851851852vh; // 20px
        color: #fff;
    }
}

#console-body-container {
    position: relative;
    width: 100%;
    height: calc(100% - 2.407407407407407vh); // 100% - 26px
    font-family: 'JetBrains Mono';

    #console-suggestions {
        position: absolute;
        left: 14.44444444444444vh; // 156px
        top: 0.1851851851851852vh; // 2px
        background: #555;
        box-shadow: 0 0 0.1851851851851852vh rgba(0, 0, 0, 1.0);
        font-size: 1.851851851851852vh; // 20px
        font-family: 'JetBrains Mono';

        li {
            padding: 0.7407407407407407vh 1.296296296296296vh; // 8px 14px
            margin: 0.3703703703703704vh; // 4px
            color: #aaa;

            &.active {
                background: #666;
                color: #ddd;
            }

            strong {
                color: #da857b;
            }
        }
    }

    .console-output {
        background: #444;
        margin-top: 0.462962962962963vh; // 5px
        -webkit-user-select: text;
        user-select: text;
    }
}

.padding-row {
    width: 100%;
    height: 1.296296296296296vh; // 14px
}

.console-row {
    padding: 0 1.296296296296296vh; // 0 14px
    font-weight: 400;
    font-size: 1.666666666666667vh; // 18px
    line-height: 1.759259259259259vh; // 19px
    font-family: 'JetBrains Mono';
    -webkit-user-select: text;
    user-select: text;
    box-sizing: border-box;

    strong {
        color: #da857b;
        font-weight: 600;
        -webkit-user-select: text;
        user-select: text;
    }

    em {
        color: #61d2ff;
        -webkit-user-select: text;
        user-select: text;
    }

    u {
        color: #ffe835;
        text-decoration: none;
        -webkit-user-select: text;
        user-select: text;
    }
}
