.main-container {
    width: 60.18518518518519vh; // 650px
    height: 38.88888888888889vh; // 420px
    background: rgba(0, 0, 0, 0.6);
    transform: translate(0%, 0%);
    backdrop-filter: blur(20px);
    display: block;
    position: relative;
    top: 50%;
    margin-top: -19.44444444444444vh; // -210px
    box-sizing: border-box;

    &:after {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 0.1851851851851852vh; // 2px
        background: rgba(255, 255, 255, 0.2);
        content: '';
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    h2 {
        font-size: 1.481481481481481vh; // 16px
        opacity: 0.4;
        text-transform: uppercase;
        margin-bottom: 0.9259259259259259vh; // 10px
    }

    h1 {
        font-size: 2.037037037037037vh; // 22px
        color: #fff;
        font-weight: 400;
    }

    .news-item {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,1.0) 100%), url('/assets/img/news-bg.png') no-repeat center center;
        background-size: 100% 100%;
        padding: 2.407407407407407vh; // 26px
        box-sizing: border-box;
        -webkit-user-select: none;
        user-select: none;

        &.secondary {
            background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,1.0) 100%), url('/assets/img/news-secondary-bg.png') no-repeat center center;
            background-size: 100% 100%;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #000;
            opacity: 0.0;
            transition: opacity 150ms ease-in-out;
            z-index: 2;
        }

        i {
            font-size: 8.888888888888889vh; // 96px
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            z-index: 3;
        }

        &:hover {
            &:before {
                opacity: 0.5;
            }

            i {
                opacity: 1.0;
            }
        }

        .news-description {
            position: absolute;
            bottom: 2.592592592592593vh; // 28px;
            left: 2.407407407407407vh; // 26px;
            right: 2.407407407407407vh; // 26px;
            text-decoration: none;
            z-index: 3;
        }
    }

    .matchmake-btn {
        width: 100%;
        height: 19.44444444444444vh; // 210px
        background: url('/assets/img/matchmake-bg.png') no-repeat center center;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        position: relative;
        -webkit-user-select: none;
        user-select: none;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #000;
            opacity: 0.0;
            transition: opacity 150ms ease-in-out;
            z-index: 2;
        }

        i {
            font-size: 8.888888888888889vh; // 96px
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            z-index: 3;
        }

        &:hover {
            &:before {
                opacity: 0.5;
            }

            i {
                opacity: 1.0;
            }
        }
    }

    .matchmaking-container {
        padding: 2.407407407407407vh; // 26px;
        -webkit-user-select: none;
        user-select: none;

        .bottom-actions {
            position: absolute;
            bottom: 2.592592592592593vh; // 28px;
            left: 2.407407407407407vh; // 26px;
            right: 2.407407407407407vh; // 26px;
        }

        a {
            font-size: 1.666666666666667vh; // 18px
            font-weight: 300;
            opacity: 0.6;
            text-decoration: none;
            transition: opacity 150ms ease-in-out;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}
