.center-notice {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

    h1 {
        display: block;
        font-weight: 500;
        font-size: 3.703703703703704vh; // 40px
        text-transform: uppercase;
        margin-bottom: 1.851851851851852vh; // 20px
    }

    p {
        display: block;
        font-weight: 300;
        font-size: 1.851851851851852vh; // 20px
        margin-bottom: 2.777777777777778vh; // 30px
        opacity: 0.6;
    }

    .btn {
        margin: 0 0.7407407407407407vh; // 0 8px
    }
}

.popup-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translate(0%, 0%);
    backdrop-filter: blur(20px);
    will-change: top;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

// password popup
.label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .caps-lock-notice {
        display: flex;
        align-items: center;
        font-size: 1.4vh;
        height: 1.4vh;
        line-height: 1.4vh;
        color: #f57c00;

        i {
            font-size: 1.7vh;
            margin-right: 0.5vh;
        }
    }
}
