.soldier-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.soldier-entry {
    display: inline-flex;
    width: 24.07407407407407vh; // 260px
    height: 40.74074074074074vh; // 440px
    vertical-align: top;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 2.314814814814815vh; // 0 25px
    background: linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(0,0,0,1.0) 100%), url('/assets/img/soldier-bg.png') no-repeat center center;
    background-size: 100% 100%;
    -webkit-user-select: none;
    user-select: none;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #000;
        opacity: 0.0;
        transition: opacity 150ms ease-in-out;
        z-index: 2;
    }

    &:after {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 0.1851851851851852vh; // 2px
        background: rgba(255, 255, 255, 0.2);
        content: '';
        z-index: 3;
    }

    .bottom-content {
        position: absolute;
        bottom: 2.592592592592593vh; // 28px;
        left: 2.407407407407407vh; // 26px;
        right: 2.407407407407407vh; // 26px;
        z-index: 3;

        h2 {
            font-size: 1.481481481481481vh; // 16px
            opacity: 0.4;
            text-transform: uppercase;
        }

        h1 {
            margin-top: 0.9259259259259259vh; // 10px
            font-size: 2.037037037037037vh; // 22px
            color: #fff;
        }

        a {
            opacity: 0.0;
            transition: opacity 150ms ease-in-out;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;

            i {
                opacity: 0.3;
            }

            &:hover {
                i {
                    opacity: 1.0;
                }
            }
        }
    }

    .actions {
        opacity: 0.0;
        transition: opacity 150ms ease-in-out;
        z-index: 3;

        a {
            text-decoration: none;
            margin: 1.481481481481481vh; // 16px
            opacity: 0.5;
            transition: opacity 150ms ease-in-out;

            i {
                font-size: 4.62962962962963vh; // 50px
            }

            &:hover {
                opacity: 1.0;
            }
        }
    }

    &:hover {
        .actions {
            opacity: 1.0;
        }

        &:before {
            opacity: 0.5;
        }

        .bottom-content a {
            opacity: 1.0;
        }
    }

    &.empty {
        background: rgba(0, 0, 0, 0.6);
        transform: translate(0%, 0%);
        backdrop-filter: blur(1.851851851851852vh); // 20px
        will-change: top;

        &:before {
            display: none;
        }

        .actions {
            opacity: 1.0;
        }
    }
}
