.bool-input {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3.703703703703704vh;

    .off,
    .on {
        position: absolute;
        top: 50%;
        text-transform: uppercase;
        z-index: 5;
        font-size: 1.8vh;
        font-weight: 500;
    }

    .off {
        left: 25%;
        transform: translate(-50%,-50%);
        color: #000;
    }

    .on {
        right: 25%;
        transform: translate(50%,-50%);
        color: #fff;
    }
    
    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            & ~ .on {
                color: #000;
            }

            & ~ .off {
                color: #fff;
            }

            & + .slider:before {
                transform: translateX(calc(100% - .5vh));
            }
        }
    }

    .slider {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        border: 0.15741vh solid rgba(255, 255, 255, 0.4);

        &:before {
            position: absolute;
            content: "";
            width: 50%;
            top: .25vh;
            left: .25vh;
            bottom: .25vh;
            background: rgba(255, 255, 255, 0.95);
            z-index: 4;
        }
    }
}
