input[type="number"].number-input {
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 3.703703703703704vh; // 40px
    padding: 0 0.9259259259259259vh; // 0 10px
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Blinker';
    font-size: 1.481481481481481vh; // 16px
    box-sizing: border-box;
    border: 0.15741vh solid rgba(255, 255, 255, 0.4);
}
